
@{
    ViewData["Title"] = "Erro";
}


<h1 class="text-danger">Erro</h1>
<h2 class="text-danger">Ocorreu um erro ao processar sua requisição.</h2>

<h3>Ambiente de Desenvolvimento</h3>
<p>
    Para ver detalhes do erro, execute a aplicação em ambiente <strong>Development</strong>.
</p>
<p>
    <strong>Não habilite o ambiente Development em produção.</strong>
    Isso pode expor informações sensíveis para usuários finais.
</p>
